<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <div class="columns">
          </div>
        <title>Dashboard operator</title>
    </head>
    <body>
        <nav class="level">
            <p class="level-item has-text-centered">
              <a href ="/principal">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a href="welcome2">Back</a>
            </p>
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://static.vecteezy.com/system/resources/previews/004/108/819/large_2x/faces-profile-avatars-people-expression-simple-heads-male-female-persons-cartoon-illustrations-profile-male-female-people-face-user-happy-free-vector.jpg">
            </figure>
            <p class="level-item has-text-centered">
              <a href ="/dashboard2">Dashboard</a>
            </p>
            <p class="level-item has-text-centered">
                <a href ="/login2">Logout</a>
              </p>
          </nav>
        <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Tulancingo3.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <p class="title is-4">SUCURSAL 1</p>
                  <p class="subtitle is-6">Tulancingo, Hidalgo.</p>
                </div>
              </div>
              <div class="buttons has-addons is-centered">
              <button class="button is-info is-focused">Temperatura</button>
              <br>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://i.pinimg.com/736x/3a/cd/de/3acdde2c7e9a471936e37445bf52ec54.jpg">
            </figure><br>
            <button class="button is-info is-loading">Loading</button><br>
          </div>
          <br>
          <div class="buttons has-addons is-centered">
            <button class="button is-warning is-focused">Humedad</button>
              <br>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://e7.pngegg.com/pngimages/453/300/png-clipart-animated-sun-caricature-drawing-sun-photography-orange.png">
               </figure><br>
            <button class="button is-warning is-loading">Loading</button>
          </div>
          <br>
          <p class="subtitle is-4">Sistema de enfriamiento</p>
            <button class="button is-danger is-selected">Apagar</button>
            <button class="button is-success is-selected">Encender</button>
          </div>
          </div>
          </div>
        </div>
      </div>
    <br>

    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="https://www.elsoldetulancingo.com.mx/local/pgpsac-1-por-falta-de-recursos_-jafet-terrazas.jpg/ALTERNATES/LANDSCAPE_400/1%20POR%20FALTA%20DE%20RECURSOS_%20JAFET%20TERRAZAS.JPG" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <p class="title is-4">SUCURSAL 2</p>
            <p class="subtitle is-6">Santiago, Tulantepec.</p>
          </div>
        </div>
        <div class="buttons has-addons is-centered">
        <button class="button is-info is-focused">Temperatura</button>
        <br>
        <figure class="image is-128x128">
          <img class="is-rounded" src="https://i.pinimg.com/736x/3a/cd/de/3acdde2c7e9a471936e37445bf52ec54.jpg">
      </figure><br>
      <button class="button is-info is-loading">Loading</button><br>
    </div>
    <br>
    <div class="buttons has-addons is-centered">
      <button class="button is-warning is-focused">Humedad</button>
        <br>
        <figure class="image is-128x128">
          <img class="is-rounded" src="https://e7.pngegg.com/pngimages/453/300/png-clipart-animated-sun-caricature-drawing-sun-photography-orange.png">
         </figure><br>
      <button class="button is-warning is-loading">Loading</button>
    </div>
    <br>
    <p class="subtitle is-4">Sistema de enfriamiento</p>
      <button class="button is-danger is-selected">Apagar</button>
      <button class="button is-success is-selected">Encender</button>
    </div>
    </div>
    </div>
  </div>
</div>
<br>
    </body>
</html>