$def with (message)
<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <div class="columns">
          </div>
        <title>Login O</title>
    </head>
    <body>
        $message
        <article class="panel is-primary">
            <p class="panel-heading">
              Ingresar
            </p>
        <form method="POST">
            <input class="input is-focused" type="text" name="email" id="email">
            <br>
            <input class="input is-focused" type="password" name="password" id="password"><br>
            <input class="button is-primary is-outlined" type="submit" value="Login as operator"><br>

            <section class="hero is-medium is-link">
                <div class="hero-body">
                  <p class="title">
                    ¿Olvidó su contraseña?
                  </p>
                  <p class="subtitle">
                    Haga click en el siguiente enlace para recuperarla
                  </p>
                  <div>
                    <a href="/recover">Recover password</a>
                    </div>
                </div>
              </section>
        </form>
    </body>
</html>
