<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <div class="columns">
          </div>
        <title>Pagina principal Clean-X</title>
    </head>
    <body>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="">
                <img src="https://cdn-icons-png.flaticon.com/512/26/26218.png" width="30" height="40">
            
              <h1 class="subtitle">  CLEAN~X</h1>
              </a>
    
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
    
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Productos
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Detergentes liquidos
                    </a>
                    <a class="navbar-item">
                      Detergentes en barra
                    </a>
                    <a class="navbar-item">
                      Para el hogar
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Ver más
                    </a>
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
          
                    <a  href = "/logout">
                        <button class="button is-primary">Log in</button>
                    </a>
          
                  </div>
                </div>
              </div>
            </div>
          </nav>

    </body>
</html>