$def with (message)
<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <div class="columns">
          </div>
        <title>Signup</title>
    </head>
    <body>
        $message
        <article class="panel is-info">
            <p class="panel-heading">
              Agregue correo y contraseña del nuevo miembro
            </p>
        <form method="POST">
            
            <input class="input is-focused" placeholder="Introduzca su nombre(s)" type="text" name="nombre" id="nombre">
            <input class="input is-focused" placeholder="Introduzca su nivel" type="text" name="nivel" id="nivel">
            <input class="input is-focused" placeholder="Introduzca estatus" type="text" name="estatus" id="estatus">
            <input class="input is-focused" placeholder="Introduzca su numero de telefono" type="text" name="telefono" id="telefono">
            <input class="input is-focused" placeholder="Introduzca su email" type="text" name="email" id="email">
            <input class="input is-focused" placeholder="Introduzca su contrasena" type="password" name="password" id="password"><br>
            <input class="button is-info is-outlined" type="submit" value="Agregar"><br>

        </form>
        <br>
        <div>
        <a href="/dashboard">Back</a>
        </div>
    </body>
</html>