<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>Bienvenido administrador</title>
    </head>
    <body>
        <div class="container">
            <div class="notification is-primary">
                <h3 class="subtitle is-4">Bienvenido administrador!</h3>
            </div>
          </div>

          <nav class="level">
            <p class="level-item has-text-centered">
              <a href ="/principal">Home</a>
            </p>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
               Operadores
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Operador 1
                </a>
                <a class="navbar-item">
                  Operador 2
                </a>
              </div>
            </div><br>
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://i.pinimg.com/236x/e9/57/2a/e9572a70726980ed5445c02e1058760b.jpg">
            </figure>
            <p class="level-item has-text-centered">
              <a href ="/dashboard">Dashboard</a>
            </p>
            <p class="level-item has-text-centered">
                <a href ="/login">Logout</a>
              </p>
          </nav>
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href ="/dashboard">Dashboard</a></li>
              <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a>Team Settings</a></li>
              <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li><a>Invitations</a></li>
              <li><a>Cloud Storage Environment Settings</a></li>
              <li><a>Authentication</a></li>
            </ul>
          </aside>

    </body>
</html>