<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>Bienvenido operador</title>
    </head>
    <body>
        <div class="container">
            <div class="notification is-primary">
                <h3 class="subtitle is-4">Bienvenido operador!</h3>
            </div>
          </div>

          <nav class="level">
            <p class="level-item has-text-centered">
              <a href ="/principal">Home</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info">Menu</a>
            </p>
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://i.pinimg.com/236x/e9/57/2a/e9572a70726980ed5445c02e1058760b.jpg">
            </figure>
            <p class="level-item has-text-centered">
              <a href="/dashboard2">Dashboard</a>
            </p>
            <p class="level-item has-text-centered">
                <a href ="/login">Logout</a>
              </p>
          </nav>

          
    </body>
</html>