<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <div class="columns">
          </div>
        <title>Pagina principal Clean-X</title>
    </head>
    <body>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="">
                <img src="https://cdn-icons-png.flaticon.com/512/26/26218.png" width="30" height="40">
            
              <h1 class="subtitle">  CLEAN~X</h1>
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
          
    
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Sucursales
                  </a>
                  
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Tulancingo, Hidalgo.
                    </a>
                    <a class="navbar-item">
                      Santiago, Tulantepec.
                    </a>
                
                  </div>
                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    
                    <a  href = "/signup">
                      <button class="button is-primary">Sign up</button>
                    </a>
        
                    <a  href = "/logout">
                        <button class="button is-primary">Log in as administrator</button>
                    </a>

                    <a  href = "/logout2">
                      <button class="button is-primary">Log in as operator</button>
                  </a>
          
                  </div>
                </div>
              </div>
            </div>
          </nav>

          <div class="tabs is-centered">
            <ul>
              <li class="is-active"><a>Home</a></li>
              <li><a>Products</a></li>
        
              <li><a>About us</a></li>
            </ul>
          </div>

          <div class="content is-normal">
            <h1>¿QUIÉNES SOMOS?</h1>
            <p>Somos una empresa dedicada a la venta y distribución de productos de limpieza con una gran CALIDAD.</p>
            
            <figure class="image is-3by1">
              <img src="https://www.hola.com/imagenes/decoracion/20210419187997/limpiar-utensilios-limpieza-mc/0-942-196/limpiar-utensilios-limpieza-1-a.jpg">
            </figure>

            <h2>¿POR QUÉ ELEGIRNOS?</h2>
            <p>Nuestra prioridad siempre será un <strong>cliente satisfecho.</strong></p>
        
            <footer class="footer">
              <div class="content has-text-centered">
                <p>
                  <strong>Clean~X</strong> by <a href="">Joel García</a>.
                  <a href="https://www.instagram.com/invites/contact/?i=49gswi36b1f0&utm_content=kjlel2y"></a> This website has been created for AWI 14.0
                </p>
              </div>
            </footer>

          </div>

    </body>
</html>